<!-- <p class="magictime vanishIn" >Hello world</p> -->
<div id="nav">
  <img id="logo" class="primary magictime vanishIn" src="assets/logo.png">
</div>


<ul class="secondary magictime vanishIn" id="navbar">
  <li>Marble -</li>
  <li>Granite - </li>
  <li>Quarts</li>
</ul>
