  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

<div id="nav">
  <img id="logo" class="primary magictime vanishIn" src="assets/logo.png">
</div>

<!-- <a href="quarts/new">Create Quart</a>
<a href="/quarts">All Quart</a> -->

<!-- <ul class="secondary magictime vanishIn" id="navbar">
  <li>Marble -</li>
  <li>Granite - </li>
  <li>Quarts</li>
</ul> -->

<div id="project-background">
  <ul id="project-list">
    <li>
      <h3>-Granite-</h3>
        <a href="http://work-me-out.com">
          <!-- <figure> -->
            <img style="border:5px solid black" class="magictime vanishIn project" id="project_1" src="assets/Blue_Pearl.jpg">
             <!--  <figcaption><p>A very hard, granular, crystalline, igneous rock consisting mainly of quartz, mica, and feldspar and often used as a building stone.<br><br>46 Available Colors</p></figcaption> -->
          <!-- </figure> -->
        </a>
    </li>

    <li>
      <h3>-Marble-</h3>
        <a href="http://cycle-smart.herokuapp.com">
          <!-- <figure> -->
            <img style="border:5px solid black" class="magictime vanishIn project" id="project_2" src="assets/ChinaMulticolorRed.jpg">
            <!--   <figcaption>
                <p>A webapp designed for frequent bikers in NYC. Information regarding bike related accidents, Citibike locations, Groupon deals and bike shops are displayed on a map provided by Google.
                </p>
              </figcaption> -->
          <!-- </figure> -->
        </a>
    </li>

    <li>
      <h3>-Quartz-</h3>
      <a href="http://outfitters.herokuapp.com">
        <!-- <figure> -->
          <img style="border:5px solid black" class="magictime vanishIn project" id="project_3" src="assets/desert.jpg">
           <!--  <figcaption>
              <p>A webapp designed specifically for fashion enthusiasts that gives the user the ability to post pictures of their entire outfits to share to the world. The app also incorporates the Instagram API to explore random outfits tagged with “ootd” or “outfit of the day”.
              </p>
            </figcaption>
        </figure> -->
      </a>
    </li>
  </ul>
</div>

<div class="container">
 <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="carousel_image_1.jpg" class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
            <h1>Variety Of All of Products!</h1>
                <h2> In different locations!</h2>
            <p>Low price guaranteed</p>
            <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
            <!-- <p><a class="btn btn-lg btn-primary" href="http://getbootstrap.com">Learn More</a> -->
          </p></pthis></div>
        </div>
      </div>
      <div class="item">
        <img src="carousel_image_2.jpg" id="test2" class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
            <h1 class="image-texts">In Business For Over 20 Years!</h1>
            <!-- <p><a id="purchase" class="btn btn-large btn-primary" href="#">Purchase</a></p> -->
          </div>
        </div>
      </div>
      <div class="item">
        <img src="carousel_image_3.jpg" class="img-responsive">
        <div class="container">
          <div class="carousel-caption">
            <h1 style="margin:30px;">Call now!</h1>
            <p style="margin-bottom:30px;">Contact Bobby at 631 885 3300</p>
            <!-- <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>
<!-- Carousel -->

<hr width="50%">
<ul id="bottom-line-list">
  <li><p>RegaliaStone |</p></li>
  <li><p>Contact |</p></li>
  <li><p>FAQ</p></li>
</ul>
<div id="footer">
  <p>Hi</p>
</div>


