<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

<div id="nav">
  <img id="logo" class="primary magictime vanishIn" src="assets/logo.png">
</div>



<ul class="secondary magictime vanishIn" id="navbar">
  <li>Marble -</li>
  <li>Granite - </li>
  <li>Quarts</li>
</ul>

<div id="project-background">
  <ul id="project-list">
    <li>
      <h1>-Granite-</h1>
        <a href="http://work-me-out.com">
          <figure>
            <img class="magictime vanishIn project" id="project_1" src="assets/QG203.jpg">
              <figcaption><p>A simple yet effective web app created for fitness lov- ers. An elegant design combined with user function- ality gives the user to ability to choose exercises for each body part of the human body using Youtubes’s API.</p></figcaption>
          </figure>
        </a>
    </li>

    <li>
      <h1>-Marble-</h1>
        <a href="http://cycle-smart.herokuapp.com">
          <figure>
            <img class="magictime vanishIn project" id="project_2" src="assets/QG205.jpg">
              <figcaption>
                <p>A webapp designed for frequent bikers in NYC. Information regarding bike related accidents, Citibike locations, Groupon deals and bike shops are displayed on a map provided by Google.
                </p>
              </figcaption>
          </figure>
        </a>
    </li>

    <li>
      <h1>-Quartz-</h1>
      <a href="http://outfitters.herokuapp.com">
        <figure>
          <img class="magictime vanishIn project" id="project_3" src="assets/QG206.jpg">
            <figcaption>
              <p>A webapp designed specifically for fashion enthusiasts that gives the user the ability to post pictures of their entire outfits to share to the world. The app also incorporates the Instagram API to explore random outfits tagged with “ootd” or “outfit of the day”.
              </p>
            </figcaption>
        </figure>
      </a>
    </li>
  </ul>
</div>

<div id="footer">
  <p>Hi</p>
</div>


