body {
  background-image:url("ff.png");
  margin: 0px;
  z-index: 4;
}

#project-background {
  /*background-color: #8a201e;*/
  height: 600px;
  margin: 0px;
  padding: 0px;

}

figure {
  height: 292px;
  /* overflow: hidden; */
  position: relative;
  width: 440px;
  margin: 3px;
}


figcaption {
  background: rgba(0,0,0,0.6);
  color: white;
  display: table;
  height: 95%;
  width: 80%;
  left: 39px;
  opacity: 0;
  position: absolute;
  /* right: 0; */
  top: 15px;
  z-index: 100;
  transition: .3s;

}

figcaption p {
  display: table-cell;
  font-size: 1.5em;
  position: relative;
  top: -40px;
  width: 289px;
  vertical-align: middle;
  font-family: 'Slabo 27px';
}


#project-list li:hover figcaption {
  opacity: 1;
  /*border: 3px solid white;*/
}

.project {
  height: 400px;
  width: 150px;
  border: 5px solid white;
  margin: 10px;
  /*border-radius: 20px;*/
  box-shadow: 20px 20px 20px rgba(0, 0, 0, .9);

}

.project:hover {
  opacity: .6;

}

#project-list h1 {
  color: black;
  /*margin: 0px;*/
  /*font-style: italic;*/
  font-family: 'Slabo 27px', serif;
  text-shadow: 2px 2px black;
}

#project-list {
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}

#project-list li {
  display: inline-block;
  text-align: center;
  padding: 0px;
  /*margin: 10px;*/
  /*margin: 30px;*/
  list-style:  none;

}



#nav {
  /*background-color: white;*/
  margin: 0px;
  padding: 0px;
  z-index: -1
  /*border: 3px solid black;*/

}

#logo {
  height: 300px;
  width:600px;
  margin: 0 auto;
  display: block;
}

#enter-link {
  text-decoration:none;
  color:black;
  font-family: MS Mincho;
  font-size:30px;
  text-align:center;

}

#enter-link:hover {
  font-size: 35px;
  transition: .1s;
}

#navbar {
  padding: 0px;
  list-decoration:none;
  text-align: center;

}

#navbar li {
  display: inline-block;
  font-family: MS Mincho;
  font-size:15px;
}

/*#footer {
  height: 200px;
  border-bottom: 10px;
}*/

#bottom-line-list {
  padding: 0px;
  list-style: none;
  text-align: center;

}

#bottom-line-list li {
  display: inline-block;

}
