body {
  /*background-color: #c7cec5;*/
  margin: 0px;
}

#project-background {
  background-color: #8a201e;
  height: 600px;
  margin: 0px;
  padding: 0px;

}

figure {
  height: 292px;
  /* overflow: hidden; */
  position: relative;
  width: 440px;
  margin: 3px;
}

figcaption {
  background: rgba(0,0,0,0.8);
  color: gold;
  display: table;
  height: 96%;
  width: 100%;
  left: 5px;
  opacity: 0;
  position: absolute;
  /* right: 0; */
  top: 5px;
  z-index: 100;
  transition: .3s;
}

figcaption p {
  display: table-cell;
  font-size: 1.5em;
  position: relative;
  top: -40px;
  width: 289px;
  vertical-align: middle;
  font-family: 'Slabo 27px';
}


#project-list li:hover figcaption {
  opacity: 1;
  /*border: 3px solid white;*/
}

.project {
  height: 300px;
  width: 400px;
  border: 5px solid white;
  border-radius: 20px;

}

.project:hover {
  border:5px solid white;

}

#project-list h1 {
  color: white;
  /*margin: 0px;*/
  /*font-style: italic;*/
  font-family: 'Slabo 27px', serif;
  text-shadow: 2px 2px black;
}

#project-list {
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}

#project-list li {
  display: inline-block;
  text-align: center;
  margin: 10px;
  /*margin: 30px;*/
  list-style:  none;
}


#nav {
  background-color: white;
  margin: 0px;
  padding: 0px;
  border: 3px solid black;

}

#logo {
  height: 300px;
  width:600px;
  margin: 0 auto;
  display: block;
}

#enter-link {
  text-decoration:none;
  color:black;
  font-family: MS Mincho;
  font-size:30px;
  text-align:center;

}

#enter-link:hover {
  font-size: 35px;
  transition: .1s;
}

#navbar {
  padding: 0px;
  list-decoration:none;
    text-align: center;

}

#navbar li {
  display: inline-block;
  font-family: MS Mincho;
  font-size:15px;
}

#footer {
  height: 200px;
  background-color: white;

}
